flask>=2.3.3,<2.4
python-dotenv>=0.2
flask-wtf==1.1.2
flask-sqlalchemy
flask-migrate
flask-login
flask_bootstrap>=3.3.7.1,<4
werkzeug<3
Flask-APScheduler>=1.13.1,<1.14
RPi.GPIO
Adafruit_GPIO
Adafruit_MCP3008