{% extends "base.html" %}

{% block content %}
<h1><i class="fa-solid fa-temperature-three-quarters"></i>
    {{ radiator.temperature() }}
 </h1>
<i class="fa-solid fa-temperature-three-quarters"></i>
<div>
    <a href="{{ url_for('mode', heating_mode='eco') }}" role="button" class="btn btn-primary">Eco</a>
    <a href="{{ url_for('mode', heating_mode='confort') }}" role="button" class="btn btn-primary">Confort +</a>
    <a href="{{ url_for('mode', heating_mode='minus1') }}" role="button" class="btn btn-primary">Confort</a>
    <a href="{{ url_for('mode', heating_mode='minus2') }}" role="button" class="btn btn-primary">Confort -</a>
</div>

{% endblock %}