{% extends "base.html" %}

{% block content %}
    <div class="main-container">
        <div class="mode-buttons">
            <a href="{{ url_for('mode', heating_mode='eco') }}" role="button" 
               class="btn btn-primary {{ 'active' if current_mode == 'ECO' }}">Eco</a>
            <a href="{{ url_for('mode', heating_mode='confort') }}" role="button" 
               class="btn btn-primary {{ 'active' if current_mode == 'CONFORT' and request.args.get('userbonus') }}">Confort +</a>
            <a href="{{ url_for('mode', heating_mode='minus1') }}" role="button" 
               class="btn btn-primary {{ 'active' if current_mode == 'CONFORT' and not request.args.get('userbonus') and not request.args.get('userdown') }}">Confort</a>
            <a href="{{ url_for('mode', heating_mode='minus2') }}" role="button" 
               class="btn btn-primary {{ 'active' if current_mode == 'CONFORT' and request.args.get('userdown') }}">Confort -</a>
        </div>

        <div class="calendar-section">
            <span>Calendriers</span>
            <div class="calendar-buttons">
                <a href="{{ url_for('calendar', calendar_type='work') }}" role="button" 
                   class="btn btn-secondary {{ 'active' if current_calendar == 'work' }}">Travail</a>
                <a href="{{ url_for('calendar', calendar_type='holiday') }}" role="button" 
                   class="btn btn-secondary {{ 'active' if current_calendar == 'holiday' }}">Vacance</a>
                <a href="{{ url_for('calendar', calendar_type='off') }}" role="button" 
                   class="btn btn-secondary {{ 'active' if current_calendar == 'off' }}">Absence</a>
            </div>
        </div>

        <div class="edit-calendar-section">
            <a href="{{ url_for('edit_calendar') }}" role="button" class="btn btn-secondary">Modifier le calendrier</a>
        </div>
    </div>
  

{% endblock %}